@font-face {
    font-family: LeagueSpartanBold;
    src: url("../files/LeagueSpartan-Bold.otf") format("opentype");
}

h1 {
    font-family: LeagueSpartanBold;
    text-align: center;
    margin-top: 30px;
}

iframe {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 100%;
}

.btn {
    border: none;
    text-align: center;
    background-color: #DDD;
    color: black;
    margin-bottom: 0px;
}

.btn:hover {
    cursor: pointer; cursor: hand;
    background-color: #CCC;
}

#pressed, .btn:active {
    background-color: #BBB;
}

.btnd {
    border: none;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.resetButton {
    color: #BBB;
    font-size: 0.5em;
}
.resetButton:hover {
    cursor: pointer; cursor: hand;
}
footer {
  text-align: center;
  padding-bottom: 0px;
  margin-top: -15px;
}
